{
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "loose": true,
                "version": "legacy"
            }
        ],
        "@babel/plugin-proposal-class-properties"
    ]
}